{{ define "main" }}
<div class="home-hero">
    
    <div class="content-left">
        <img src="images/profile-pic.png" alt="Esmeralda Martinez" class="profile-pic">
        
        <h1 class="bio-name">Esmeralda Martinez</h1>
        
        <p class="bio-text">
            Leveraging my experience to pivot my focus towards Cloud Engineering and DevOps, specifically mastering Azure DevOps pipelines and Infrastructure as Code to automate and secure cloud deployments.
        </p>
    </div>

    <nav class="giant-menu">
        <a href="/about" class="editorial-link">About</a>
        <a href="/creds" class="editorial-link">Creds</a>
        <a href="/contact" class="editorial-link">Contact</a>
        <a href="/work" class="editorial-link">Work</a>
    </nav>
    
</div>
{{ end }}